/* Définition de la police Poppins */
@font-face {
    font-family: 'poppins';
    src: url(../fonts/Poppins-Medium.ttf);
}

/* Réinitialisation des marges et des paddings par défaut pour tous les éléments */
* {
    margin: 0;
    padding: 0;
}

/* Style de base pour le corps de la page */
body {
    font-family: 'poppins';
    margin: 0;
    padding: 0;
    background-color: rgba(251, 193, 93, 0.477); /* Couleur de fond avec transparence */
}

/* navigateur */

nav {
    background-color: #fc815057;
    height: 10vh;
    box-shadow: 2px 5px 5px #00000058;
}

/* Style pour le titre principal */
h1 {
    color: #ffffff;
    margin: 1% 0 0 2%;
    padding: 0;
    font-size: 2.6em;
    color: #ffa200; /* Couleur orange pour le titre */
}

/* Style pour les icônes de navigation */
.icones {
    margin-left: 64%;
    margin-top: 2%;
    display: flex;
    list-style-type: none; /* Suppression des puces */
    gap: 60%; /* Espacement entre les éléments */
}

/* Style pour les images des icônes */
.icones img {
    filter: invert(100%); /* Inversion des couleurs pour les rendre blanches */
    width: 30px;
}


.slide-container{
    position: relative;
    width: 800px;
    height: 350px;
    border: 3px solid #ede6d6;
    box-shadow: 0 0 8px 2px rgba(0,0,0,0.2);
}
.slide-container .slides{
    width: 100%;
    height: calc(100% - 40px);
    position: relative;
    overflow: hidden;
}
.slide-container .slides img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}
.slide-container .slides img:not(.active){
    top: 0;
    left: -100%;
}
span.next, span.prev{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 14px;
    color: #eee;
    font-size: 24px;
    font-weight: bold;
    transition: 0.5s;
    border-radius: 3px;
    user-select: none;
    cursor: pointer;
    z-index: 1;
}
span.next{
    right: 20px;
}
span.prev{
    left: 20px;
}
span.next:hover, span.prev:hover{
    background-color: #ede6d6;
    opacity: 0.8;
    color: #222;
} 
.dotsContainer{
    position: absolute;
    bottom: 5px;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
}
.dotsContainer .dot{
    width: 15px;
    height: 15px;
    margin: 0px 2px;
    border: 3px solid #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.6s ease;
}
.dotsContainer .active{
    background-color: #555;
}

@keyframes next1{
    from{
        left: 0%
    }
    to{
        left: -100%;
    }
}
@keyframes next2{
    from{
        left: 100%
    }
    to{
        left: 0%;
    }
}

@keyframes prev1{
    from{
        left: 0%
    }
    to{
        left: 100%;
    }
}
@keyframes prev2{
    from{
        left: -100%
    }
    to{
        left: 0%;
    }
}





